In [1]:
print(5/2) # it gives the float values.

2.5

In [3]:
print(5//2) # it gives the integer value, but floor quotient. value.

2

In [4]:
print(5%2)

1

In [5]:
print(-5//2)

-3

In [6]:
print(5.0/2)

2.5

In [7]:
print(5.0//2) # it gives float values if atleast one of
# operand is float.

2.0

In [8]:
print(5//2.0)

2.0

In [9]:
print(5.0//2.0)

2.0

In [10]:
# a+ b : a, and b are the operands , + is the operator.

In [11]:
### ralational opeartors

print(True ==True)

True

In [12]:
print(True > False)

True

In [13]:
print(False > True)

False

In [14]:
print(False > False)

False

In [15]:
print(0==False)

True

In [16]:
print(1==True)

True

In [17]:
print(-1==False)

False

In [18]:
print(1==True)

True

In [19]:
print(2==True)

False

In [20]:
print(3==True)

False

In [21]:
print(-2==False)

False

In [22]:
print(-1==True)

False

In [23]:
print(-2==True)

False

In [24]:
#hence , we can conclude that, only 0 is equivalent to False
# and 1 is equivalent to True.

In [25]:
#lets check the behaviour of logical operators with intergers and float values.

In [26]:
print(4 and 5)

5

In [27]:
print(5 and 4)

4

In [28]:
print(-1 and 1)

1

In [35]:
print(0 and -1)

0

In [36]:
# in case of logical operators , if operands are numerical values
# 0--> False
# Otherwise , it is true.(including postive and negative numbers.)

In [37]:
print(0 or 1)

1

In [39]:
print(1 or 0)

1

In [40]:
print(10 and 0)

0

In [41]:
print(0 and 10)

0

In [42]:
#Lets see the concepts of bitwise operators..

In [43]:
# 8 --->    1000
# 12---->   1100
#bitwise->  1000

#25---->11001
#92---->1100110


#while using bitwise opeartors, if we pass integer values , 
# it automatically gets converted into binary values and then
# the opration takes place.

In [44]:
#bitwisw left and right shift : >> right shift . and << is the left shift.

In [45]:
# 8 ---> 10000 :  8 << 1 : 
# 8 ----> 0100 : 8 >>1 : 0100 : which is equals to 4.


# when we use right shift , the number gets divisible by 2^1
# whene we use left shift , the number gets multiplied by 2^1.

In [47]:
print(8<<1) # 2^1

16

In [48]:
print(8>>1) # 2^1

4

In [49]:
print(8<<2) # 2^2

32

In [50]:
print(8>>2) # 2^2

2

In [52]:
print(10 >>2) # always return the floor values.

2

In [53]:
# lets see the special operators. generally used for collectio based data types.

# 1) is , is not : identity opertors
# 2) in , not in : membership operators.

In [55]:
# some data types stores a single values..
# these four data types stores collection of values.
# list , tuples , dict , set.

In [56]:
a=10
a=[10,11,12,1,22,1]

In [57]:
print(a)

[10, 11, 12, 1, 22, 1]

In [58]:
l1= [10,12, 13,16,21]

print( 10 in l1)

True

In [59]:
print(11 in l1)

False

In [60]:
print( 11 in [12,12,233,4,4,4])

False

In [62]:
print( 22 in [ 22 , 23, 24,2, 43,44,4,4])

True

In [71]:
print( 'sapna' not in ['sapna','kundan', 'sanu',  'amrita'])

False

In [70]:
curreny_list = {'a' ,'b' ,'c'}

print('eureka' in curreny_list)

False

In [76]:
fee_list =[ 'sapna','abhishek','vikas', 'rahul']
print('sapna' not in fee_list)

False

In [77]:
# in same manner,is and is not works for collection based datatypes

In [86]:
l1=['abhishek','vikas']
l2=['abhishek','vikas']
l3=['vikas','abhishek']

a=10
b=10
print(l1== l2)
print(l1== l3)
print(l1 is l2)
print(l1 is l3)

True
False
False
False

In [89]:
print( 'a' in 'abhishek')

True

In [91]:
print( 'kafka' in 'Before I close this lecture kafka')

True

In [92]:
#Assignment operators :

In [95]:
a=10
b=11
a+=b # a=a+b
#b+=c # b=b+c
# b= m + n  # can not be written in short form.
print(a)

21

In [97]:
a=True
b=False
c=a and b
print(c)
type(c)

False

bool

In [1]:
#operators associativity and precedence : expresssion of operators.

In [3]:
# #a=a+b # it is called equation (single operator is being used.)
# a= b + c +d  + e + g # it is also an expression (same multiple operator are being used.)
# a = b * c * d + e -f << l == m # it is also an expression (different muliple operator are being used.)
# a = a + b -c - d * m / g // l % n # it is also an expression but operator can belong to same categories.

In [6]:
# so overcome this issue , we have associativity and precedence rules.

# assciativity works when all operator used are of same precedence(of same power).
# and precedence used in case of differnt operators used.

In [7]:
# maximum questions are asked based on this table.
# Operator	Description	  Associativity
# ( )	Parentheses  	left-to-right
# **	Exponent 	right-to-left
# *  /  %	Multiplication/division/modulus	left-to-right
# +  -	Addition/subtraction	left-to-right
# <<  >>	Bitwise shift left, Bitwise shift right	left-to-right
# <  <= 
# >  >=	Relational less than/less than or equal to 
# Relational greater than/greater  than or equal to	left-to-right
# ==  !=	Relational is equal to/is not equal to	left-to-right

In [8]:
print()

-98

In [10]:
# a = ((((((b * c) * d) + e) -f) << l)== m)

In [11]:
# gp : a(r^n-1)/(r-1)

In [14]:
print(100**100 +1 ) # python 3 supports large numbers as well unlike c++/java.

100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001

In [15]:
print("abhishek")
print("kumar")

abhishek
kumar

In [17]:
print("abhishek kumar")

abhishek kumar

In [27]:
gmail='@gmail.com\n'
print("abhishekbtech14", end=gmail)
print("sapnakumari",end=gmail)

abhishekbtech14@gmail.com
sapnakumari@gmail.com

In [29]:
a=10
type(a)

int

In [30]:
a=str(a)

In [31]:
type(a)

str

In [33]:
b="10"
type(b)

str

In [34]:
b=int(b)
type(b)

int

In [35]:
a="abhishek"
type(a)

str

In [37]:
# a=int(a) : remarks : string literals can not be converted into int values.

In [38]:
a=10.11
type(a)

float

In [39]:
a=str(a)

In [40]:
type(a)

str

In [41]:
# conversion is of two categories : Implicit (automatic) and Explicit (forcefully) conversion.

In [42]:
x = 10

print("x is of type:",type(x))

y = 10.6
print("y is of type:",type(y))

x is of type: <class 'int'>
y is of type: <class 'float'>

In [43]:
x = x + y

print(x)
print("x is of type:",type(x))

20.6
x is of type: <class 'float'>

In [45]:
# Explicit type conversion has these kinds of functions.

In [47]:
# 1) Float() :

In [51]:
a=10
print(type(a))
a=float(a)
print(type(a))
print(a)

<class 'int'>
<class 'float'>
10.0

In [52]:
a=10.11
print(a)

10.11

In [53]:
a=int(a)
print(a)

10

In [61]:
#but in case of string values as parameter, we can use base paramter as well.

a='101010100101100'
a=int(a,base=8)
print(a)

4467856540224

In [62]:
# 3. ord() : This function is used to convert a character to integer.
# 4. hex() : This function is to convert integer to hexadecimal string.
# 5. oct() : This function is to convert integer to octal string.
# 6. tuple() : This function is used to convert to a tuple.
# 7. set() : This function returns the type after converting to set.
# 8. list() : This function is used to convert any data type to a list type.
# 9. dict() : This function is used to convert a tuple of order (key,value) into a dictionary.
# 10. str() : Used to convert integer into a string.
# 11. complex(real,imag) : : This function converts real numbers to complex(real,imag) number.
# 12. chr(number) : : This function converts number to its corresponding ASCII character.

In [67]:
a=10
print(type(a))

<class 'int'>

In [ ]:
#character vs string : character is a string of length ==1 and string can be of any length.

In [68]:
a='a'   # ord function works only with character values.
print(ord(a))

97

In [69]:
print(ord('b'))

98

In [70]:
print(ord('c'))

99

In [71]:
print(ord('d'))

100

In [72]:
# a having int value of 97. z will be having 97 + 25 = 122
print(ord('z'))

122

In [73]:
print(ord('A')) # A--65.

65

In [74]:
print(ord('B')) # B--66

66

In [75]:
# similarly , Z --> 65 + 25 =90

In [76]:
print(ord('Z'))

90

In [77]:
# [a -z] = [97-122] 
# [A - Z] = [65 -90]
# these integers values are called ASCII values, in general we have 256[0-255] ASCII values.

In [78]:
print(ord('('))

40

In [79]:
print(ord('/'))

47

In [80]:
print(ord('?'))

63

In [81]:
# in programming world ,or in computer each character available on our keyboard has a unique and specifi
# ASCII values.

In [82]:
print(chr(1))



In [83]:
print(chr(2))



In [84]:
print(chr(91))

[

In [85]:
print(chr(92))

\

In [86]:
print(chr(93))

]

In [87]:
print(chr(94))

^

In [88]:
print(chr(95))

_

In [89]:
print(chr(96))

`

In [90]:
print(chr(97))

a

In [91]:
# ord and chr function behaves just opposite to one another.

In [98]:
summ = ord('a') + ord('b') + ord('h') +  ord('i') 
print(summ)

404

In [101]:
# summ=0
# for x in "abhishek":
#     summ= summ + ord('x')
# in next chapter we will deal with this kind of features available in python 3.
# print(summ)

In [102]:
# hex vs oct ()  : it converst into hexadecimal and octal strings for given integer values.

In [107]:
print(hex(17))

0x11

In [108]:
type(hex(17))

str

In [109]:
print(oct(17))

0o21

In [110]:
type(oct(17))

str

In [111]:
print(oct(1987282))

0o7451322

In [114]:
int('7451322', base=8)

1987282

In [115]:
# 6. tuple() : This function is used to convert to a tuple.
# 7. set() : This function returns the type after converting to set.
# 8. list() : This function is used to convert any data type to a list type.
# 9. dict() : This function is used to convert a tuple of order (key,value) into a dictionary.
# 10. str() : Used to convert integer into a string.
# 11. complex(real,imag) : : This function converts real numbers to complex(real,imag) number.

In [123]:
a="abhishek"
b=list(a)
print(b)


# list properties : ordered , allow duplicates , indexed , changeable(mutable)

['a', 'b', 'h', 'i', 's', 'h', 'e', 'k']

In [124]:
a="abhishek"
b=tuple(a)
print(b)
# tuple properties :  ordered , allow duplicates , indexed , not changeable(immutable)

('a', 'b', 'h', 'i', 's', 'h', 'e', 'k')

In [125]:
a="abhishek"
b=set(a)
print(b)

# set properties : not ordered , does not duplicates , not indexed , changeable (mutable).

{'s', 'k', 'a', 'h', 'b', 'i', 'e'}

In [127]:
# a="abhishek"
# b=dict(a)
# print(b)

# dict function does not work for each data types.
# set properties : not ordered , does not duplicates , not indexed , changeable (mutable).

In [128]:
#How to input multiple values from user in one line in python ?

In [ ]:
#Python 3 supports one more feature.

In [ ]:
x=10

In [ ]:
x,y = 10, 12

In [ ]:
x,y,z,l,r = 10,12,13,14,15

In [ ]:
x=input()

In [ ]:
# first method
x, y = input(),  input()

In [ ]:
# second method.
x, y = input().split()

In [ ]:
x, y = [int(x), int(y)]

# We can also use  list comprehension
x, y = [int(x) for x in [x, y]]

In [ ]:
# Reads two numbers from input and typecasts them to int using 
# list comprehension
x, y = [int(x) for x in input().split()]

In [ ]:
# Reads two numbers from input and typecasts them to int using 
# map function
x, y = map(int, input().split())